.box-reveal-top {
  animation-name: reveal-top;
  animation-duration: 1s;
}

@keyframes reveal-top {
  from {
    opacity: 0;
    translate: 0 -100vw;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.box-reveal-left {
  animation-name: reveal-left;
  animation-duration: 1s;
}

@keyframes reveal-left {
  from {
    opacity: 0;
    translate: -100vw 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
.box-reveal-bottom {
  animation-name: reveal-bottom;

  animation-duration: 1s;
}

@keyframes reveal-bottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
